/*@font-face {
  font-family: 'MarkOff';
  src: url('../fonts/MarkOffcPro-Medium.eot');
  src: url('../fonts/MarkOffcPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarkOffcPro-Medium.woff') format('woff'),
    url('../fonts/MarkOffcPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}*/

@font-face {
  font-family: 'MarkOff';
  src: url('../fonts/MarkOffcPro-Bold.eot');
  src: url('../fonts/MarkOffcPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarkOffcPro-Bold.woff') format('woff'),
    url('../fonts/MarkOffcPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOff Light';
  src: url('../fonts/MarkOffcPro-Light.eot');
  src: url('../fonts/MarkOffcPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarkOffcPro-Light.woff') format('woff'),
    url('../fonts/MarkOffcPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}




html, body {
  width: 100%;
  height: 100%;
  font-family: "MarkOff";

}

body > img { display: none }
.fr {
  cursor:pointer;
  margin-left: 4%;
  margin-top:4%;

}

a
{
  color: inherit;
  font-weight: 300;
  cursor: pointer;
}

body
{
  font-family: "MarkOff";
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 140%;
  color: #FFF;
  min-width: 320px;
  /*background-color: black;*/
}

body > aside
{
  display: block;
  float: right;
  width: 240px;
  height: 100%;
  overflow: auto;
  background: #444;
}

body > aside > h1
{
  padding: 20px;
  background: #363636;
  font-size: 24px;
  color: #EEE;
}

body > aside > h1 > b, body > aside > h1 > span { color: #666 }

body > aside > h1 > span
{
  float: right;
  margin-right: -5px;
  font-size: 16px;
  font-weight: 300;
  color: #555;
}

body > aside > .drop
{
  position: relative;
  margin: 20px 10px;
  padding: 20px 0;
  overflow: hidden;
  text-align: center;
  border: 2px dashed #555;
  border-radius: 10px;
  font-size: 16px;
  color: #888;
}

body > aside > .drop > span
{
  display: block;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 0;
}

body > aside > .drop > input
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .000001;
  cursor: default;
}

body > aside > form
{
  margin: 20px 0;
  padding: 0 10px;
}

body > aside ul.changelog
{
  padding: 5px;
  opacity: .33;
}

body > aside ul.changelog > li[v]:before
{
  content: attr(v);
  display: block;
  margin-bottom: -5px;
  font-size: 9px;
  color: #CCC;
}

body > aside ul.changelog > li[v].prog:before { content: attr(v) " (in progress)" }

body > aside ul.changelog > li
{
  display: block;
  margin: 5px;
  font-size: 12px;
}

body > aside ul.changelog li > span
{
  position: relative;
  display: block;
  padding-left: 5px;
}

body > aside ul.changelog li > span:before
{
  content: "•";
  position: absolute;
  top: 0;
  right: 100%;
  margin: 0 -3px 0 0;
  font-size: 9px;
  color: #666;
}

body > aside ul.changelog > li > strong
{
  font-weight: 400;
  font-size: 14px;
}

body > aside > .webcam > video
{
  display: block;
  margin-bottom: 5px;
  border-radius: 5px;
}

body > main
{
  position: relative;
  display: block;
  margin: 0 240px 0 0;
  height: 100%;
  overflow: auto;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .25);
}

body > main > .canvas-container
{
  display: none;
  position: relative;
  margin: 20px;
}

body > main.ready > .canvas-container { display: block }

body > main > .not-ready
{
  padding: 50px 0;
  text-align: center;
}

body > main.ready > .not-ready { display: none }

body > main > .canvas-container > canvas { display: block }

input[type="text"], button
{
  /*position: relative;*/
  /*display: inline-block;*/
  /*margin: 3px 0;*/
  /*padding: 8px 10px;*/
  /*overflow: hidden;*/
  border: none;
  /*background: #FFF;*/
  /*border-radius: 2px;*/
}



input[type="text"]:not([size]) {
  /*width: 80%;*/
  font-size: 2.6vw;
  padding-bottom: 2px;
  color: transparent !important;
  font-family: "MarkOff";
  width: 100%;
  opacity:0.6;
 }

button
{
  width: auto;
  background: transparent;
  color: #333;
  cursor: pointer;
}

button > input[type="file"]
{
  position: absolute;
  /*top: 0;*/
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /*top: 22px;*/
  top: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #737373;

}

/*button.blue
{
  background: #3273A3;
  color: #FFF;
}*/

button.dark
{
  background: transparent;
  color: #FFF;
}

label > input + em
{
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: 400;
  color: #777;
}

label.layout-type
{
  position: relative;
  display: inline-block;
  width: 90%;
  height: 50px;
  border: 1px solid #222;
  background: #333;
  border-radius: 3px;
  text-align: left;
  vertical-align: middle;
  font-size: 0;
}

label.layout-type > input { display: none }

label.layout-type > em
{
  display: inline-block;
  width: 75%;
  margin: 5px;
}

label.layout-type > em, label.layout-type > em:before, label.layout-type > em:after
{
  content: "";
  height: 8px;
  background: #222;
}

label.layout-type > em:before, label.layout-type > em:after { position: absolute }

label.layout-type > em:before
{
  top: 10px;
  left: 5px;
  width: 45%;
}

label.layout-type > em:after
{
  bottom: 5px;
  left: 5px;
  height: 5px;
  width: 55%;
}

label.layout-type.classic { text-align: center }

label.layout-type.classic > em
{
  position: absolute;
  bottom: 11px;
  left: 50%;
  margin-left: -37.5%;
}

label.layout-type.classic > em:before { display: none }

label.layout-type.classic > em:after, label.layout-type.classic-split > em:after
{
  left: 50%;
  margin-left: -27.5%;
}

label.layout-type.classic > em:after { top: 11px }

label.layout-type.classic-split { text-align: center }

label.layout-type.classic-split > em:before
{
  left: 50%;
  margin-left: -22.5%;
}

label.layout-type > input:checked + b
{
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(50, 115, 163, .2);
  border: 1px solid #3273A3;
  border-radius: 2px;
}

.ui-slider
{
  display: inline-block;
  height: 29px;
  margin: 5px 10px 5px 0;
  vertical-align: middle;
  position: relative;
  background: transparent;
  border: none;
}

.ui-slider:before
{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 4px;
  margin: -2px 0 0;
  background: #777;
  border-radius: 2px;
}

.ui-slider + input { display: none }

.ui-slider > .ui-slider-handle
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  margin: -8px 0 0 -8px;
  background: #EEE;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 10px;
  cursor: e-resize;
}


.mobile-group {
  margin-top: 0%;
}




/*header {
  height: 7%;
  background-color: white;
}

header img {
  width: 28%;
  display: block;
  margin: auto;
  margin-bottom:20px;
}
*/
/*canvas {
  width: 100%;
  height: 100%;
}*/
.canvas-container {
  /*margin-top: -40px;*/
  position: absolute;
  position: absolute;
  width: 100%;
  height: 100%;
  /*margin-top: 46px;*/
  overflow: hidden;
}

.drop {
  margin-top: 170px;
}

header {
   /* max-width: 180px;*/
   max-width: 213px;
    margin: 0 auto;
    height: 8.3%;
    background-color: white;
}

header img {
    width: 100%;
    padding-top: 10%;

}

footer {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color: black;
    color: #fff;
}

footer img {
  /*width: 100%;*/
  /*padding-top: 6%;*/
}

aside form {
  position: absolute;
  /*z-index:40;*/
}

.logo-stamp {

    /*  width: 50%;
      padding-top: 2%;*/

      width: 69%;
      padding-top: 4%;


}

#sensor {
  background: transparent;
  font-family: "MarkOff";
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 2.6vw;
  border-radius: 0;
  border-color: #737373;
  color: #737373;
  padding-bottom: 0.5%;
  position: relative;
  z-index: 30;
  opacity: 0.6;

}



.brigade-footer {
  /*height: 70px;*/
    /*  height: 52px;
  background-color: #D3232D ;
  margin-top: 55px;*/



  height: 43px;
    background-color: #D3232D;
    margin-top: 34px;
}

.brigade-footer p {
  display: inline-block;
  font-size: 100%;
  vertical-align: top;
  margin-top: 12px;
}

.brigade-footer img {
  /*width: 3%;*/
  padding-top: 11px;
  padding-left: 4%;
  padding-right: 1.2%;
      width: 20px;
}

.footer-left {
  float: left;
  width: 50%;
}

.footer-right {
  float: right;
  width: 41%;
}

.footer-right li {
  display: inline-block;
  padding-right: 5%;
  font-family: "MarkOff Light";
  float:right;
  /*padding-right:;*/
}

.footer-right ul {
  /*float: right;*/
      margin-top: 11px;
      padding-right: 27px;
}

.made-by {
  font-family: "MarkOff Light";
}

.footer-left a {
  text-decoration: underline;
}

/*.brigade-logo {
  width: 1.5%;
  display: inline;
  padding-left: 3%;
  padding-top: 1.2%;

}*/

.mobile-square {
  background-color: yellow;
  width: 100%;
  /* height: 100%; */
  width: 100%;
  padding-bottom: 100.3%;
  position: absolute;
  z-index: 1000;
  margin-top: 65px;
}
.square {
    float:left;
    position: relative;
    width: 33.33333333333333%;
    padding-bottom : 33.33333333333333%; /* = width for a 1:1 aspect ratio */
    margin:0%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
    /*overflow: hidden;*/
}

.img_1-1{background-image:url("../images/lab-tech.jpg") ;

}
.img_1-1-blur{background-image:url("../images/lab-tech-blur.jpg");
-webkit-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}
.img_1-2{background-color: #D3232D;}
.img_1-2_black {
  background-color: black;
  moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  position: relative;
}

.img_1-3{background-image:url("../images/chef.jpg");}

.img_2-1{background-image:url("../images/firstlady.jpg");}
.img_2-2{background-image:url("../images/coach.jpg");}
.img_2-3{background-image:url("../images/regina.jpg");}

.img_3-1{background-image:url("../images/nurse.jpg");}
.img_3-2{background-image:url("../images/artist.jpg");}
.img_3-3{background-image:url("../images/pastor.jpg");}


.img_1-3-blur{background-image:url("../images/chef-blur.jpg");
-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.img_2-1-blur{background-image:url("../images/firstlady-blur.jpg");
-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}
.img_2-2-blur{background-image:url("../images/coach-blur.jpg");
-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;

}
.img_2-3-blur{background-image:url("../images/regina-blur.jpg");
-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.img_3-1-blur{background-image:url("../images/nurse-blur.jpg");
-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}
.img_3-2-blur{background-image:url("../images/artist-blur.jpg");
-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}
.img_3-3-blur{background-image:url("../images/pastor-blur.jpg");
-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}



.first-phase {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 2.3vw;
    /* top: 85px; */
    /*line-height: 37px;*/
    line-height: 113%;
    width: 100%;
    height: 50%;
    overflow: auto;
    margin: auto;
}

.first-phase:first-child {
  /*padding-top: 16%;*/
}

.first-phase-gone {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.first-phase img {
  opacity:0.3;
  width: 20%;
  padding-top: 16%;
  padding-bottom: 6%;
}

.get_started {
  /*width: 53%;*/
  width: 62%;
  margin: 0 auto;
  border: 2px solid #fff;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: hand;
  cursor: pointer;
  position: relative;
  z-index: 4;
  margin-top: 9%;
}

.get_started p {
   font-family: 'MarkOff';
   font-size: 2vw;


}

.square-fixed {
  display:none;
  width: 100%;
}



.drag-and-drop {
    width: 85% !important;
     margin: 0 auto !important;
    text-align: center !important;
    height: 40% !important;
    margin-top: 4%;
     margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  opacity: 0;
            /*position: relative;*/
            z-index: 1;





    /* margin-left: 7%; */

}


.drag-and-drop-overlay  {
      border: 2px dashed #555;
      font-size: 16px;
      width: 91% !important;
      margin: 0 auto !important;
      text-align: center !important;
      height: 38% !important;
      margin-top: 4%;
      margin: auto;
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 0;
      right: 0;

  /*opacity: 0;*/
            /*position: relative;*/
  /*z-index: 1;*/
}

.drag-and-drop-overlay img{
  opacity: 0.3;
  width: 12%;
  margin-top: 1%;
  float: left;
  margin-left: 2%;
  cursor: pointer;
  cursor: hand;
}



.drag-title {
  color: #737373;
  font-size: 10px;
  font-family: "MarkOff";
  /*margin-top: 90px;*/
}


.share-dialog {
  width: 100%;
  height: 23%;
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  position: absolute;
  z-index: 50;
  padding-top: 2%;
  padding-bottom: 1%;
  display:none;


}

.share-dialog p {
   font-size: 1.2em;
  margin-top: 27px;
  padding-bottom: 1%;

}

.get_started:hover {
  color: #D3232D;
  background-color: white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.second-phase {
  background-color: #D3232D;
  /*height: 90px;*/
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  /*display: none;*/
  opacity: 0;
  height: 105px;
}

.carrot {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid black;
  position: absolute;
  z-index: 3;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.share-dialog {
  opacity:0;
  z-index: 10000;
  position: absolute;


}

.share-dialog-show {
  display: block;
  opacity: 1;
  position:absolute;
  z-index: 90000;
  -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition-duration: 0.3s;
}

.thanks {
  display: none;
}

.thanks img {
  text-align: center;
  /*padding-top: 3%;*/
}

.button-bank {
  padding-top: 1%;
}
.button-bank li{
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
  cursor: hand;
}
.interaction-panel {
  text-align: center;
}

.interaction-panel img {
 /* margin-top: 6%;
  width: 15%;
  padding-left: 7px;
  padding-right: 7px;*/
}

.interaction-button {
 /* margin-top: 6%;
  width: 15%;
  padding-left: 7px;
  padding-right: 7px;*/
}

.move-down  {
  /*display: block;*/
    opacity: 1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    -ms-transform: translate(0px, 105px); /* IE 9 */
    -webkit-transform: translate(0px, 105px); /* Safari */
    transform: translate(0px, 105px);
    transition-duration: 0.3s;

}

.third-phase {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.third_phase_appear {
  opacity: 1;
 /* -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;*/
      margin-top: 170px;

}

.close {
 float: right;
 /* padding: 16px; */
 margin-top: -12px;
 cursor: pointer;
 cursor: hand;
 margin-right: 20px;
 /*margin-top: -6px;*/
 margin-top: 4px;
}

.close img {
  width: 67%;
}

.upload_magic {
  height: 100%;
  margin-top: -170px;

}

#bottom {
    clear:both;
    width: 100%;
    background-color: black;
    color: #fff;
    overflow-y: hidden;
    height: 120px;
}


/*.footer-image {
    max-width: 91px;
    float: right;
    height: 0%;
    background-color: white;
    padding: 0px;
    margin-top: 34px;
    margin-right: 20px;
}

.footer-image img {
    width: 100%;
    float: right;
    margin-right: 4%;
}

.float-left {
  float: left;
  max-width: 91px;
  height: 0%;
  background-color: white;
  padding-left: 40px;
  margin-top: 39px;
  margin-right: 20px;
}

.float-left p {
  color: white;
}

.float-left span {
  color: #D3232D;
}

.footer-nav {
  margin-right: 0px;
  margin-top: 39px;
}

.footer-nav li {
  text-decoration: none;
  color: white;
  display: inline;
  padding-right: 20px;


}

.footer-1 {
     /*margin: 0.25em auto;*/
 /*    vertical-align: top;
     width: 9%;

}
*/

.footer-1 {
      display: inline-block;
    width: 50%;
    padding-left: 3%;
    margin-top: 25px;
}

.footer-1 p {
  font-size: 17px;
  margin-left: -21px;
}
.footer-2 {
     /*margin: 0.25em auto;*/
     vertical-align: top;
     width: 68%;
     text-align: right;

}

.footer-3 {
     /*margin: 0.25em auto;*/
     /*vertical-align: top;*/
    /* width: 9%;
     float: right;*/

     width: 9%;
     float: right;
     /*margin-top: 2.5%;*/
     margin-right: 2.5%;

     margin-top: 18px;




}

.footer-3 img {
  max-width: 89px;
}

.footer {
  display: inline-block;
}*/


.watermark {
  width: 47%;
  margin-top: 102px;
  margin-left: 23px;
}



input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #737373;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #737373;
  font-family: "MarkOff";
}
::-moz-placeholder { /* Firefox 19+ */
  color: #737373;
  font-family: "MarkOff";
}
:-ms-input-placeholder { /* IE 10+ */
  color: #737373;
  font-family: "MarkOff";
}
:-moz-placeholder { /* Firefox 18- */
  color:#737373;
  font-family: "MarkOff";
}

.main_input {
  /*margin-top: 124px;*/
  /*margin-left: 28px;*/
  color: white;
  color: white;
  /*width: 100%;*/
  margin-top: 47%;
  margin-left: 5%;
  margin-right: 5%;
}




.main_input_mask {
  pointer-events: none;
}

.interaction-form {
  width: 100% !important;
  margin-top: 3%;
}

.mobile-footer {
  display:none;
}



select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    color: white;
}

caret-color: auto;
color: transparent;
color: currentColor;

/* <color> values */
caret-color: red;
caret-color: #5729e9;
caret-color: rgb(0, 200, 0);
caret-color: hsla(228, 4%, 24%, 0.8);


canvas {
  width: 100% !important;
}


html, body {
min-width: 320px;
}



a {
  text-decoration: none;
}


.dropdown {
  position: absolute;
  right: 0;
  margin-top: -8%;
  width: 6%;
  opacity: 0.5;
}

@media  (max-width: 819px) {
  .first-phase {
     font-size: 15px;
     height: 87%;
     position: absolute;
     text-align: center;
     margin: 0 auto;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     line-height: 27px;
     width: 100%;
     overflow: auto;
     margin: auto;
     position: absolute;
  }

  .footer-right {
        width: 48%;
  }

  .first-phase:first-child {
     padding-top: 18%;
  }

  .get_started {
    width: 65%;
  }

  .main_input {
    margin-top: 46%;
  }

   .footer {
    /*display: block;*/
  }

}



@media (max-width: 466px) {
  .square {
    float: left;
    position: relative;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
      background-repeat: no-repeat;
      padding-bottom: 100%;
      overflow: hidden !important;
  }

  .third-phase {
       overflow: hidden !important;
  }

  body {
    background-color: #d3232d;
  }

  .square-fixed {
  display:block;
  opacity: 0;
  background-color:red;
}



.logo-stamp {
    width: 50%;
    padding-top: 2%;


}



  .img_1-2_black {
    overflow: visible !important;
  }

  .mobile-group {
    margin-top: 17%;
  }

  .upload_magic {

  display: none;
}



  .footer {
    display: none;
  }

  .mobile-footer {
    display: block !important;
  }

  .mobile-group {
    margin-top: 114%;
    position: relative;
    z-index: 100;
    display: block;
  }


  .img_1-1 {
   position: fixed;
   min-width: 320px;
        z-index: 40;
        top: 8%;
        /* display: none; */
  }

  .img_1-2, .img_2-1 , .img_2-2 , .img_3-1, .img_3-2 ,.img_3-2{
    /*position: absolute;*/
    /*z-index: 60;*/
    /*top: 50%;*/
    /*z-index: 60;*/
    /*top: 90%;*/
  }


  .img_1-3 , .img_2-3, .img_3-3{
    /*z-index: 60;*/
    /*top: 50%;*/
  }


    .img_1-1-blur {
  /*  position: fixed;
    z-index:40;
    top:9%;*/
  }

  .img_1-2-blur, .img_2-1-blur , .img_2-2-blur , .img_3-1-blur, .img_3-2-blur ,.img_3-2-blur{
    /*position: absolute;*/
    /*z-index: 60;*/
    /*top: 50%;*/
    /*z-index: 59;*/
  }


  .img_1-3-blur , .img_2-3-blur, .img_3-3-blur{
    /*z-index: 59;*/
    /*top: 50%;*/
  }

  .move-down{
    z-index:61;
  }


  .share-dialog p {
    font-size: 1.2em;
    margin-top: 17px;
    padding-bottom: 1%;
  }

  .close {
    float: right;
    /* padding: 16px; */
    margin-top: -12px;
    cursor: pointer;
    cursor: hand;
    margin-right: 20px;
    /* margin-top: -6px; */
    margin-top: 19px;
  }

  .close img {
    width: 49%;
  }

  .share-dialog p {
      font-size: 1.2em;
      margin-top: 17px;
      padding-bottom: 3%;
      margin-left: 56px;
  }




  input[type="text"]:not([size]) {
    /*width: 80%;*/


    /*font-size: 6.5vw;
    padding-bottom: 4px;
    color: white;
    font-family: "MarkOff";
    width: 100%;
*/




        font-size: 6.5vw;
        padding-bottom: 4px;
        color: white;
        font-family: "MarkOff";
        width: 100%;
        -webkit-appearance: none;
        border-radius: 0;

   }

   #sensor {
     background: transparent;
     font-family: "MarkOff";
     border-top: none;
     border-right: none;
     border-left: none;
     font-size: 6.5vw;
     border-radius: 0;
     border-color: #737373;
     color: #737373;
     padding-bottom: 0.5%;
     position: relative;
     z-index: 30;


   }

   .brigade-footer  {
  display:none;
}

   .get_started {
      width: 48%;
   }

   .get_started p {
      font-size: 5vw;
   }

   .dropdown-mobile {
     /*margin-top: -8%;*/
     margin-top: 2% !important;
   }

   .main_input {

    margin-top: 52%;
    padding-bottom: 12px !important;
   }

   header {
   /* margin: 0 auto;
    height: 8%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6000;
    height: 52px;
    right: 0px;
    padding: 22%;
    padding-top: 0%;
    padding-bottom: 3%;
    right: 0px;*/


    margin: 0 auto;
    height: 8%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6000;
    height: 52px;
    right: 0px;
    padding: 27%;
    padding-top: 0%;
    padding-bottom: 6%;
    right: 0px;
   }


   .first-phase {
    font-size: 6vw;
    line-height: 37px;
   }

   .first-phase:first-child {
    padding-top: 31%;
    padding-top: 31%;
}

.mobile-brigade-footer img{
  width: 19px;
  display: inline-block
}

.mobile-brigade-footer p {
  display: inline-block;
  margin-top: 1px;
  vertical-align: top;
  padding-left: 8px;
}

  .mfooter-1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -13%;
    padding-bottom: 30px;
    position: relative;
    z-index: 5000;
    font-size: 18px;

  }

  .made-by a {
    text-decoration: underline;
  }

  .mobile-brigade-footer {
        padding-top: 0.5%;
        padding-bottom: 13px;
  }

  .mobile-brigade-footer ul {
    padding-bottom: 14px;
  }

  .mfooter-1 p {
    display: inline;
  }


  .mfooter-1 img {
    width: 20%;
    float: right;
  }

  .mfooter-2 {
   text-align: center;
   margin-top: 2.7%;
   background-color: #d3232d;
   height: 44px;

  }

  .mfooter-2 li{
    display: inline;
    padding-right: 4%;
    font-family: "MarkOff Light";

  }

  #bottom {
    height: 84px;
    /*top: 50%;*/
    z-index: 70;
    position: relative;
  }

  .float-left {
    padding-left: 12px !important;
  }

  /*.eight {
    display: none;
  }*/

 /* .img_1-1{background-image:url("../images/img_4.jpg") 50% 50% no-repeat; {
  min-height: 100%;
    min-width: 100%;

  }
*/




}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
/* STYLES GO HERE */
.square {
  width: 100%;

}

body {
  -webkit-overflow-scrolling
}


.main_input {
    margin-top: 52%;
    padding-bottom: 12px !important;
}

}

@media only screen and (max-width : 360px) {
  .main_input {
    margin-top: 46%;
  }
  input[type="text"]:not([size]) {
    font-size: 7vw;
  }
  #sensor {
    font-size: 7vw;
  }
}

@media only screen and (max-width : 420px) {
  .main_input {
    margin-top: 45%;
  }
  input[type="text"]:not([size]) {
    font-size: 7vw;
  }
  #sensor {
    font-size: 7vw;
  }
}



@media only screen and (max-width : 466px) {
  .main_input {
    margin-top: 45%;
  }
  input[type="text"]:not([size]) {
    font-size: 7vw;
  }
  #sensor {
    font-size: 7vw;
  }
}
